/* --- default page --- */

.featuredProject  {
    background: #F3F3F3;
}

.project {
    background: #D3D3D3;
}
/* --- user page --- */


/* --- project page --- */


/* --- profile page --- */


/* ---  page --- */


/* --- other page --- */

.error {
    display: inline-block;
    background-color: rgba(255, 0, 0, 0.5);
    color: darkred;
    height: 2em;
    border: solid 2px red;
}
